* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    135deg,
    #f8fafc,
    #eef2ff,
    #f5f7fa
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.08),
    0 5px 15px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.login-box:hover {
  transform: translateY(-3px);
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header h1 {
  font-size: 32px;
  font-weight: 800;
  color: #111827;
  letter-spacing: 1px;
}

.login-header p {
  color: #6b7280;
  margin-top: 8px;
  font-size: 15px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-box input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #d1d5db;
  border-bottom: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.login-box input:focus {
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #000;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-box button:hover {
  background: #222;
}

.login-box button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-msg {
  background: #fee2e2;
  color: #dc2626;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
}

.success-msg {
  background: #dcfce7;
  color: #16a34a;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
}

.login-footer {
  margin-top: 10px;
}

.login-footer a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.login-footer a:hover {
  text-decoration: underline;
}

.login-footer p {
  margin-top: 20px;
  color: #4b5563;
  text-align: center;

}


@media (max-width: 768px) {
  .login-box {
    max-width: 420px;
    padding: 32px;
  }

  .login-header h1 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 15px;
  }

  .login-box {
    padding: 25px;
    border-radius: 16px;
  }

  .login-header h1 {
    font-size: 26px;
  }

  .login-header p {
    font-size: 14px;
  }

  .login-box input {
    padding: 13px;
    font-size: 14px;
  }

  .login-box button {
    padding: 13px;
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  .login-box {
    max-width: 470px;
  }

  .login-header h1 {
    font-size: 36px;
  }
}